.App {
  font-family: sans-serif;
}

.btn {
  width: 125px;
  background: rebeccapurple;
  color: rgb(221, 189, 253);
  padding: 8px;
  margin-right: 8px;
  border-radius: 3px;
  border: none;
}

.btn strong {
  color: #fff;
}

.btn-asc {
  cursor: n-resize !important;
}

.btn-desc {
  cursor: s-resize !important;
}

.btn[data-state="asc"] {
  cursor: n-resize !important;
}

.btn[data-state="desc"] {
  cursor: s-resize !important;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th {
  color: rebeccapurple;
  font-size: 0.7em;
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
}

table th,
td {
  padding: 8px;
}

table tr:nth-child(even) {
  background: rgb(250, 244, 255);
}
